/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* Global CSS Start */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
button{
  font-family: "Raleway", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p {
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Global CSS End */

/*Header CSS Start */
.logo {
  width: 30%;
  margin: auto;
  text-align: center;
}

.logo img,
.logo-hidden img ,.logo-bottom img{
  width: 35%;
  text-align: center;
  max-width: 250px;
  vertical-align: middle;
}
.logo-bottom img{
  width: 9%;
}


.logo a,
.logo-hidden a {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.logo-bottom a {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.logo-hidden {
  display: none;
}

.site-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 9999;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #000;
}

.site-header .container {
  margin: 0 auto;
  padding: 0 10px;
}

/* .main-navbar ul {
  display: flex;
  gap: 9px;
  justify-content: center;
  align-items: center;
} */

.main-navbar {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.main-navbar ul li a {
  padding: 5px;
  display: inline-block;
  color: #000;
  font-weight: 600;
  line-height: 30px;
  font-size: 15px;
  transition: 0.5sec all ease-in;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
}

.desktop-hidden-menu {
  display: none;
}

.main-navbar-wrapper {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.main-navbar-r1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.desktop-navlist1 {
  width: 35%;
  margin: auto 0;
  text-align: center;
}

.desktop-navlist2 {
  width: 35%;
  margin: auto 0;
  text-align: center;
}

.main-navbar-r2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.desktop-navlist3 {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background: #fff;
  border-radius: 20px;
}

.main-navbar-r1 ul li {
  width: 40%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 25px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.main-navbar-r2 ul li {
  width: 40%;
  margin: 0 auto;

  background-color: #fff;
  border-radius: 25px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.main-navbar ul li a.active {
  background-color: #97fb57;

  color: #000;
}

.footer .footer-links ul li a.active {
  color: #97fb57;
}

.main-navbar ul li a:hover {
  color: #000;
  background: #97fb57;
}

.close-icon {
  display: none;
}

/* .fixed-header {
  background-color: #fffcfc;
} */
.desktop-menu {
  display: flex;
  justify-content: space-around;
  /* padding: 5px 0; */
}

.menu-icon {
  display: none;
  color: #000;
  width: 30px;
  text-align: right;
  cursor: pointer;
  margin: auto 0;
}

/* Header CSS End */

/* Banner Section CSS Start */
.banner {
  position: relative;
}

.banner-image {
  height: 550px;
  width: 100%;
}

.banner-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0 0 0/50%);
  background-blend-mode: multiply;
}

.banner-text h1 {
  font-size: 60px;
  color: #fff;
  display: block;
  font-weight: 700;
}

.banner-text h2 {
  font-size: 30px;
  max-width: 800px;
  margin: 10px auto;
  color: #fff;
  text-align: center;
  font-weight: 600;
}

.banner-text-group {
  animation: goturn 2.5s ease-in-out forwards;
  opacity: 0;
  transform: scale(0) translateY(-300px) rotateY(0deg);
  text-align: center;
}

@keyframes goturn {
  to {
    opacity: 1;
    transform: scale(1) translateY(0) rotateY(360deg);
  }
}

/* Banner Section  CSS End */

/* Home Cards CSS Start */
.home-page-main-cards h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.home-page-main-cards {
  padding: 50px 0;
}

.home-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.home-card {
  width: 47%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 15px auto;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.home-card-image {
  overflow: hidden;
  height: 300px;
}

.home-card-image img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
}

.home-card:hover .home-card-image img {
  transform: scale(1.3);
}

.home-card-image img:hover {
  transform: scale(1.2);
}

.card-content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0 0 0/50%);
  background-blend-mode: multiply;
}

.card-content a {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #fff;
  text-decoration: none;
}

.card-content a h3 {
  font-size: 35px;
}

/* Home Cards CSS End*/

/* Home Page Service CSS Start */
.home-page-services-cards-section {
  background-image: url("../images/news-section-bg.jpg");
  background-color: rgba(0 0 0/50%);
  background-blend-mode: multiply;
  padding: 70px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-page-services-card {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  overflow: hidden;
  gap: 30px;
  justify-content: center;
  margin: 0 auto 25px auto;
}

.home-page-services-card:nth-child(even) {
  flex-direction: row-reverse;
}

.home-page-services-card:last-child {
  margin-bottom: 0;
}

.home-page-services-card-image {
  max-height: 250px;
  overflow: hidden;
  width: 40%;
  border-radius: 15px;
}

.home-page-services-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.home-page-services-card-info {
  padding: 40px;
  width: 55%;
  background: #97fb57;
  border-radius: 15px;
}
.home-page-services-card-info h3 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 15px;
}
.home-page-services-card-info p {
  font-size: 20px;
  font-weight: 600;
}
/* Home Page Service CSS End */

section.home-page-news-cards {
  padding: 70px 0;
}
.home-page-news-cards h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}
.home-page-news-cards .card-content a h3 {
  font-size: 25px;
  max-width: 311px;
  font-weight: 400;
}
.how-we-rate {
  padding-bottom: 70px;
}
.how-we-rate-wrapper h3 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}
.how-we-rate-wrapper p {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  max-width: 1100px;
  margin: 0 auto;
}

/* Pages Contact Form CSS Start */
.pages-contact-us-form {
  background-image: url("../images/form-bg.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 0;
}
.pages-contact-us-form-wrapper {
  background-color: transparent;
  backdrop-filter: blur(20px);
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;
}

.pages-contact-us-form-wrapper h3 {
  color: #fff;
  text-align: center;
  font-size: 50px;
  max-width: 800px;
  margin: 0 auto;
}
#contact {
  padding: 25px;
  margin: 50px 0 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

#contact h3 {
  color: #f96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: none;
  margin: 0 0 10px;
  /* min-width: 45%; */
  padding: 0;
  width: 45%;
  outline: none;
}
fieldset:nth-child(5) {
  width: 93%;
}
fieldset:last-child {
  width: 30%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
  outline: none;
  border: none;
  overflow: hidden;
  border-radius: 5px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #97fb57;
  color: #000;
  margin: 0 0 5px;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.5s all ease-in-out;
}

#contact button[type="submit"]:hover {
  background: #fff;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  color: #000;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
#contact input:focus,
#contact textarea:focus {
  outline: 0;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/* Pages Contact Form CSS End*/

.home-news-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.home-news-card {
  width: 48%;
  position: relative;
  max-height: 310px;
  overflow: hidden;
  border-radius: 10px;
}
.home-news-card-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home-news-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.7s all ease-in-out;
}
.home-news-card-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0 0 0/60%);
  background-blend-mode: multiply;
}

.home-news-btn {
  background-color: #97fb57;
  padding: 10px 20px;
  color: #000;
  opacity: 0;
  visibility: hidden;
  transition: 1.5s opacity ease-in-out;
  margin-top: 20px;
  border-radius: 5px;
  font-weight: 600;
}

.home-news-card:hover .home-news-btn {
  opacity: 1;
  visibility: visible;
}
.home-news-card:hover .home-news-card-image img {
  transform: scale(1.2);
}
.home-news-card-content h3 {
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
  font-size: 25px;
}

/* Footer CSS Start */

.footer {
  background-image: url("../images/footer-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  background-color: rgba(0 0 0/50%);
  background-blend-mode: overlay;

  color: #fff;
}
.logo-bottom {
  text-align: center;
  margin-bottom: 15px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 30px 0;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.footer-icons {
  text-align: center;
  margin: 7px;
}

.footer-items h3 {
  font-size: 30px;
  margin-bottom: 12px;
}
.footer-items ul li {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
.footer-items ul li:hover {
color:#97fb57;
}
.footer-items ul li a.active {
  color:#97fb57;
  }

.footer-icons i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 16px;
  color: #000;
  background: #fff;
  line-height: 35px;
  margin: 0 5px;
  transition: 0.6s all ease-out;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.footer-icons i:hover {
  transform: scale(1.3);
  background-color: #97fb57;
}
.copyright {
  padding: 30px 0;
  text-align: center;
  margin: auto 0;
}
.copyright p {
  font-size: 15px;
  color: #fff;
  text-align: center;
  font-weight: 500;
}
/* Footer CSS End */

/* Pages CSS Start */

/* Pages Banner CSS Start */
.pages-banner-image {
  height: 480px;
  width: 100%;
  overflow: hidden;
}
.pages-banner-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
.pages-banner-text h1 {
  font-size: 45px;
  font-weight: 600;
}

.pages-banner-text h3 {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}

.pages-banner-text-group {
  animation: roll 2s ease-in-out forwards;
  opacity: 0;
  transform: rotateY(180deg);
  text-align: center;
}

@keyframes roll {
  to {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
.pages-intro {
  padding: 40px 0px;
}
.pages-intro-wrapper p{
  max-width: 1000px;
  margin: 0 auto;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #545556;
  line-height: 1.3;
}
.checked {
  color: #97fb57;
}
/* Pages Banner CSS End */
/* Pages CSS End */

.pages-cards-outer-wrapper{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 30px;
}
.pages-cards-outer-wrapper button{
  margin-bottom: 20px;
}
.pages-cards {
  position: relative;
}
.pages-cards-image {
  height: 400px;
  width: 100%;
}
.pages-cards-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}
.pages-cards-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 10%;
  left: 10%;
  background: rgba(0 0 0/60%);
  background-blend-mode: multiply;
  transform: translate(-10%, -10%);
}
.pages-cards-content h3,.pages-cards-content h4,.pages-cards-content ul li{
  color: #fff;
}
.pages-card-content-r1 {
  display: flex;
  width: 100%;
  gap: 50px;
  padding: 40px;  
  align-items: center;
}
.pages-card-content-r2 {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 50px;
  padding: 0 30px;
 
}
.pages-card-content-r1 h3 {
  font-size: 30px;
}
.pages-card-content-r1 h4 {
  font-size: 20px;

}
.pages-card-content-r2 h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.pages-card-content-r2 ul li {
 font-size: 20px;
 font-weight: 500;
 margin-bottom: 6px;
}
.subpage-exp-content {
  margin-top: 10px;
  display: none;
  font-weight: 600;
  font-size: 18px;
  color: #545556;
  padding: 0 20px;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}

.btn-darkred-block {
  margin-top: 10px;
  color: #000;
  background-color: #97fb57;
  border: none;
  outline: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 20px;
  transition: 0.4s all ease-in-out;
  cursor: pointer;
  min-width: 115px;
  font-weight: 600;
  line-height: 20px;
  display: inline-block;
  text-align: center;

}

/* .btn-darkred-block:hover {
  background: #fff;
color: #97fb57;} */

  .pages-cards button {
    margin-bottom: 20px;
 }
.pages-link-btn {
  display: inline-block;
  margin-top: 10px;
  color: #000;
  background-color: #97fb57;
  border: none;
  outline: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 20px;
  font-weight: 600;
  transition: 0.4s all ease-in-out;
  min-width: 115px;
  line-height: 20px;
  text-align: center;
}

/* .pages-link-btn:hover {
  background: #fff;
  color: #97fb57;
} */


 .check-icon{
   font-size: 20px;
   color: #000;
}
.uncheck-icon{
  font-size: 14px;
  color: red;
}
.list-icon{
  background-color: #97fb57;
  display:inline-flex !important;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  line-height: 25px;
  margin-right: 6px;
}



section.out-top-recommendations {
  padding: 30px 0;
}
.top-recommendation-card-group-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 30px 0;
  justify-content: space-between;
}
.top-recommendation-card-group{
  width: 49%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding:  40px 20px;
  border-radius: 5px;
  background-color: #97fb57;
  margin-bottom: 25px;
}
.top-recommendation-card-group:last-child{
  width: 100%;
}
.out-top-recommendations .text-center {
  margin-bottom: 15px;
  margin-top: 15px;
}
.out-top-recommendations-wrapper {
  text-align: center;
}
.top-recommendation-card-r1 {
  max-width: 700px;
  margin: 0 auto;
}
.top-recommendation-card-r1 h2{
  font-size:30px
}
.top-recommendation-card-r1 h3{
  font-size:20px;
  margin:7px 0;
}
.top-recommendation-card-r1 ul li{
  margin-bottom:5px;
  font-weight: 600;
}
.top-recommendation-card-group h3 {
  font-size: 22px;
  margin-bottom: 7px;
}
.top-recommendation-card-group p {
  font-weight: 600;
}
.after-text-card-para {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}






.home-signup-input-wrapper {
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
}

.home-signup-input {
  width: 50%;
  display: inline-block;
  font-size: 16px;
  padding: 10px 15px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.home-signup-submit-button {
  display: inline-block;
  background: #97fb57;
  color: #000;
  padding: 10px 25px;
  font-size: 17px;
  font-weight: 500;
  outline: none;
  border: none;
  margin-left: 4px;
  border-radius: 5px;
  cursor: pointer;
}

.home-signup-submit-button:hover {
  background-color: #fff;
  color: #000;
}



.join-our-forum {
  background-image: url("../images/pages-signup-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat ;
  padding: 50px 0px;
}
.join-our-forum-wrapper{
  background-color: transparent;
  backdrop-filter: blur(50px);
  padding: 20px 30px;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 10px;
 }
.join-our-forum-wrapper h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 15px;
}
.join-our-forum-wrapper p {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  color: #fff;
}

.pages-how-we-rate {
  padding: 50px 0;
  }
  .pages-how-we-rate h2{
    text-align: center;
    margin-bottom: 20px;
  }
.page-how-we-rate-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pages-how-we-rate-cards {
  width: 32%;
   padding: 20px;
  margin-bottom: 25px;
  border-radius: 10px ;

  border: 2px solid #000;
}
.rate-cards-icon i {
  margin-bottom: 10px;
}
.pages-how-we-rate-cards h3 {
  margin-bottom: 7px;
 }
.pages-how-we-rate-cards p {
font-weight: 600;
}
.rate-icon{
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #97fb57;
  font-size: 20px;
  line-height: 20px;
  border-radius: 5px;
}



.accordion_container {
    width: 500px;
}
.accordion_head {
    background-color:skyblue;
    color: white;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    margin: 0 0 1px 0;
    padding: 7px 11px;
    font-weight: bold;
}
.accordion_body {
    background: lightgray;
}
.accordion_body p {
    padding: 18px 5px;
    margin: 0px;
}
.plusminus {
    float:right;
}